html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
}

#canvas,
#hitCanvas {
	width: 100%;
	height: 100%;
}

#canvas {
	z-index: 1;
}

#hitCanvas {
	z-index: 0;
}

#katex {
	pointer-events: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.katex-item {
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(-50%, -50%);
}

#menu {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: white;
	background-image: url('bg.png');
}

.disable {
	display: none;
}

#menu > h1 {
	margin: auto;
	margin-top: 25%;
	color: black;
	text-align: center;
}

#menu > .button-wrapper {
	width: 50%;
	margin: auto;
}

#menu > .button-wrapper > button {
	display: block;
	margin: 2em auto;
}
